.leftside {
  background-color: #e84848;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-rows: 23% 50% 27%;
  border: solid black 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 7px;
}

.topcontainer {
  display: flex;
}

.whitecircle {
  background-color: white;
  border: black solid 3px;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bluecircle {
  background-color: rgb(29, 84, 148);
  border: black solid 3px;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.redcircle {
  background-color: rgb(179, 6, 6);
  border: black solid 2px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.yellowcircle {
  background-color: yellow;
  border: black solid 2px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.greencircle {
  background-color: green;
  border: black solid 2px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.screencontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenborder {
  background-color: #dedede;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
  border-bottom-left-radius: 10%;
}

/* .bordercircle {
  margin-top: 2%;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: black solid 2px;
} */

.screen {
  background-color: #232323;
  height: 70%;
  width: 80%;
  border: solid black 3px;
  color: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen img {
  max-width: 90%;
  max-height: 90%;
}

.bottomcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
}

.greenbox {
  display: flex;
  background-color: #51ae5f;
  height: 40%;
  width: 40%;
  border: solid black 3px;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
