.rightside {
  background-color: red;
  box-sizing: border-box;
  height: 85%;
  width: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border-bottom: solid black 3px;
  border-right: solid black 3px;
  border-top: solid black 3px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.topcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  background-color: green;
  height: 80%;
  width: 90%;
  border: black solid 3px;
}

.middlecontainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
}


.bottomcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
