* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Cutive Mono", monospace;
}

.Pokedex {
  height: 442px;
  width: calc(328px * 2);
  display: flex;
  border-radius: 10px;
  margin: 10rem;
  position: relative;
}
